[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
	ignore = dirty
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
	ignore = dirty
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
	ignore = dirty
[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = https://github.com/thisivan/vim-bufexplorer.git
	ignore = dirty
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
	ignore = dirty
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
	ignore = dirty
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule "bundle/vim-space"]
	path = bundle/vim-space
	url = https://github.com/spiiph/vim-space.git
	ignore = dirty
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/vim-togglelist"]
	path = bundle/vim-togglelist
	url = https://github.com/milkypostman/vim-togglelist.git
	ignore = dirty
[submodule "bundle/vim-unimpared"]
	path = bundle/vim-unimpared
	url = git://github.com/tpope/vim-unimpaired.git
	ignore = dirty
[submodule "bundle/jshint.vim"]
	path = bundle/jshint.vim
	url = https://github.com/wookiehangover/jshint.vim.git
	ignore = dirty
[submodule "bundle/calendar-vim"]
	path = bundle/calendar-vim
	url = https://github.com/mattn/calendar-vim.git
	ignore = dirty
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = https://github.com/tsaleh/vim-matchit.git
	ignore = dirty
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim.git
	ignore = dirty
[submodule "bundle/vim-taglist-plus"]
	path = bundle/vim-taglist-plus
	url = https://github.com/int3/vim-taglist-plus
	ignore = dirty
[submodule "bundle/vim-cute-python"]
	path = bundle/vim-cute-python
	url = https://github.com/ehamberg/vim-cute-python.git
	ignore = dirty
[submodule "bundle/js-mask"]
	path = bundle/js-mask
	url = git@github.com:jameyc/js-mask.git
	ignore = dirty
[submodule "bundle/vim-cute-php"]
	path = bundle/vim-cute-php
	url = git@github.com:laurentb/vim-cute-php.git
	ignore = dirty
[submodule "bundle/vim-showmarks"]
	path = bundle/vim-showmarks
	url = git@github.com:jacquesbh/vim-showmarks.git
	ignore = dirty
[submodule "bundle/dart-vim-plugin"]
	path = bundle/dart-vim-plugin
	url = git@github.com:dart-lang/dart-vim-plugin.git
	ignore = dirty
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	ignore = dirty
[submodule "snippets/vim-snippets"]
	path = snippets/vim-snippets
	url = git@github.com:honza/vim-snippets.git
	ignore = dirty
[submodule "bundle/vim-pyref"]
	path = bundle/vim-pyref
	url = git@github.com:xolox/vim-pyref.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
