[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/pydoc.vim"]
	path = bundle/pydoc.vim
	url = https://github.com/fs111/pydoc.vim.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-bufexplorer"]
	path = bundle/vim-bufexplorer
	url = https://github.com/thisivan/vim-bufexplorer.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/skammer/vim-css-color.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-space"]
	path = bundle/vim-space
	url = https://github.com/spiiph/vim-space.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/vim-togglelist"]
	path = bundle/vim-togglelist
	url = https://github.com/milkypostman/vim-togglelist.git
[submodule "bundle/vim-unimpared"]
	path = bundle/vim-unimpared
	url = git://github.com/tpope/vim-unimpaired.git
