{% extends "base.jinja" %}

{% block title %}{{super()}} TODO TITLE{% endblock %}

{% block extra_body_tags %} TODO{% endblock %}

{% block description %}help post{% endblock %}

{% block cannonical %}
	<link rel="cannonical" href="https://TODO.URL" />
{% endblock cannonical %}

{% block extrajs %}{{ super() }}{% endblock %}

{% block header %}{{ super() }}{% endblock header %}
{% block main %}{{ super() }}{% endblock main %}
{% block footer %}{{ super() }}{% endblock footer %}

{% block bottomjs %}{{ super() }}{% endblock bottomjs %}
